/*--------------------------------------------------------TELEFONO------------------------------------------------------------*/
@media(max-width:$tab){
    //-----------------------------GENERAL-----------------------------------------------------------------------------
    .carrito{
    background-color: $medio;
    color: $blanco;
    font-family: $texto;
    min-width: 320px;
    &--botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
        border-radius: 0.5rem;
        border: 1px solid   $blanco;
        background-color: $oscuro;
        button{
            width: 200px;
            margin: 1rem;
        }
    }
    &--precio{
        border-top: 1px solid $blanco;
        border-bottom: 1px solid $blanco;
        text-align: center;
        background-color: $oscuro;
    }
        &--titulo{
        background-color: $blanco;
        color: $negro;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $negro;
        }
        &--nombre{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            background-color: $claro;
            font-size: 1.2rem;
            border: 1px solid $blanco;
            min-width: 320px;
        }
        &--precio{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            background-color: $blanco;
            font-size: 1.2rem;
            border: 1px solid $negro;
            border-left: 0px;
            color: $negro;
            min-width: 320px;
        }
    }
    //-----------------------------PRODUCTOS------------------------------------------------------------------------------
    .carrito__productos{
        margin: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            min-width: 320px;
        }
        li{
            margin: 1rem;
        }
        &--nombre{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            background-color: $claro;
            font-size: 0.8rem;
            border: 1px solid $blanco;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
        &--precio{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            background-color: $claro;
            font-size: 0.8rem;
            border: 1px solid $blanco;
            border-left: 0px;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
}
}
//-----------------------------TABLET Y LAPTOP------------------------------------------------------------------------------
@media(min-width:$tab){
    .carrito{
        background-color: $medio;
        color: $blanco;
        font-family: $texto;
        min-width: 320px;
        &--botones{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 3rem;
            border-radius: 0.5rem;
            border: 1px solid   $blanco;
            min-width:320px;
            background-color: $oscuro;
            button{
                width: 200px;
                margin: 1rem;
            }
        }
        &--precio{
            color:$negro;
            border-top: 1px solid $negro;
            border-bottom: 1px solid $negro;
            font-size: 2rem;
            background-color: $blanco;
            text-align: center;
        }
        &--titulo{
                background-color: $blanco;
                color: $negro;
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $negro;
                margin-top: 3rem;
                font-size: 3rem;
        }
        }
//----------------------------PRODUCTOS-----------------------------------------------------------------------------
    .carrito__productos{
            margin: 4rem;
            display: flex;
            justify-content: center;
            flex-direction: row;
            ul{
                display: flex;
                flex-direction: row;
            }
            li{
                margin: 1rem;
            }
            &--nombre{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                background-color: $claro;
                font-size: 1.2rem;
                border: 1px solid $blanco;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }
            &--precio{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                background-color: $claro;
                font-size: 1.2rem;
                border: 1px solid $blanco;
                border-left: 0px;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
    }
}