/*----------------------------------------------------------------- CONSULTA------------------------------------------------- */
@media(max-width:$tab){
        .consulta{
        
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            font-size: 2rem;
            width: 100%;
            background-color: $blanco;
            font-family: $texto;
            padding: 20px 0.5rem 20px;
        }

        .consulta__form{
            background-color: $oscuro;
            width: 100%;
            padding: 20px 0.5rem 20px;

            &--nombre{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                background-color: $negro;
                border-radius: 1rem;
                div{
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    input{
                        margin: 1rem;
                    }
                }
            }
        }
}