/* -------------------------------------------BARRA DE NAVEGACION-------------------------------------------------- */
header{
    z-index: 9999;
    position: fixed;
    width: 100%;
}
@media (min-width:400px){
    .nav__barra{
        div{
            background-color: red;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $blanco;
        }
        ul{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style: none;
            text-decoration: none;
            
        }
        a{
            color: white;
            text-decoration: none;
        }
    }
    }
@media(min-width:768px){
    .nav__barra {
        
        
        div{
            display: flex;
            flex-direction: column;
            height: 3.5rem;
            font-family: $texto;
        }
        ul{
            
            width: 100%;
            display: flex;
            background-color: red;
            font-family:$texto;
            flex-flow: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
        }
        h1{
            font-size:1.5rem ;
            img{
                transform: scale(0.8);
            }
        }
        li{
            list-style: none;
            border-radius: 0.2rem;
        }
        a{
            color: white;
            text-decoration: none;
        }
        li:hover{
            box-shadow: 0 0 20px $negro;
            transition: all 0s;
        }
    }
}