/*-------------------------------------------------------------- OFERTAS ----------------------------------------------------------*/
.ofertas{
    background-color: $negro;
    font-family: $texto;

    div{
        width: 100%;
        margin-left: 0px;
    }
    h2{
        background-color: $claro;
        font-size: 3rem;
        text-align: center;
        padding-top: 0rem;
    }
    h2{
        display: flex;
        justify-content: center;
        color: $blanco;
        font-size: 4rem;
        padding-top: 4rem;
        background-color: red;
    }
    li{
        font-size: 2rem;
        list-style: none;
    }
    &--org{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: purple;
    }
}
