
@media (min-width:$cel){
    .main__novedad{
        font-family: $texto;
        background-color: $blanco;
        height: 425px;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                display: flex;
                flex-direction: row;
                p{
                    color: $negro;
                    font-size: 2rem;
                    padding-top: 1rem;
                    padding-right: 1rem;
                }
            }
            img{
                transform: scale(0.4);
                padding: 0px;
            } 
            button{
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }  
            p{
                padding-top: 3rem;
                font-size: 2rem;
                animation-duration: 5s ;
                animation-iteration-count: infinite;
            }
            
        }
    }
    .productos{
        color: white;
        font-family: $texto;
        text-transform: uppercase;
        text-align: center;
        border-style: solid;
        border-bottom-width: 10px;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-color: white;
        padding-bottom: 15rem;
        width: 100%;
        h2{
            padding: 3rem;
            font-size: 2rem;
        }
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
        li{
            height: 200px;
            width: 200px;
            display: flex;
            
            align-items: center;
            justify-content: center;
        }
        a{
            text-decoration: none;
                color: $blanco;
                font-style: italic;
                background-color: black;
                text-align: center;
            
        }    
            &--telefono{
                background-image: url("../img/imgb2.jpg");
                background-repeat: no-repeat;
                background-position: center;
                
                }
            &--telefono:hover{
                transform: scale(1.2,1.2);
                }
            &--tv{
                background-image: url("../img/imgb4.jpg");
                background-repeat: no-repeat;
                background-position: center;
                }
            &--tv:hover{
            transform: scale(1.2,1.2);
            }
            &--laptop{
            background-image: url("../img/imgb1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            
            }
            &--laptop:hover{
            transform: scale(1.2,1.2);
            }
            &--reloj{
            background-image: url("../img/imgb3.jpg");
            background-repeat: no-repeat;
            background-position: center;
            
            }
            &--reloj:hover{
            transform: scale(1.2,1.2);
            }
    }
    .nosotros{
        background-color: $claro;
        font-family: $texto;
    }
    
}
//LAPTOP-----------------------------------------------------------------------------------------------------------------------
@media(min-width:$lap){
    .main__novedad{
        background-color: $blanco;
        width: 100%;
        height: 425px;
        div{
            div{
                display: flex;
                flex-direction: row;
                p{
                    color: $negro;
                    font-size: 2rem;
                    padding-top: 1rem;
                    padding-right: 1rem;
                }
            }
            img{
                transform: scale(1)
            }
            
            button{
                text-align: right;
            }
            p{
                display: flex;
                flex-direction: column;
                font-family: $texto;
                text-align: center;
                padding-top: 4rem;
                font-size: 2rem;
                animation-duration: 5s ;
                animation-iteration-count: infinite;
            }
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: $blanco;
                background-color: #212529;
                font-size: medium;
            }
        }
    }
    /* -------------------------------------------productos--------------------------------------------------------------- */
    .productos{
        color: white;
        font-family: $texto;
        text-transform: uppercase;
        text-align: center;
        border-style: solid;
        border-bottom-width: 10px;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-color: white;
        padding-bottom: 15rem;
        width: 100%;
        
        h2{
            padding: 150px;
            font-size: 3rem;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
        }
        li{
            height: 180px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a{
            text-decoration: none;
                color: $blanco;
                font-style: italic;
                background-color: black;
                text-align: center;
            
        }    
            &--telefono{
                background-image: url("../img/imgb2.jpg");
                background-repeat: no-repeat;
                background-position: center;
                
                }
            &--telefono:hover{
                transform: scale(1.2,1.2);
                }
            &--tv{
                background-image: url("../img/imgb4.jpg");
                background-repeat: no-repeat;
                background-position: center;
                }
            &--tv:hover{
            transform: scale(1.2,1.2);
            }
            &--laptop{
            background-image: url("../img/imgb1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            
            }
            &--laptop:hover{
            transform: scale(1.2,1.2);
            }
            &--reloj{
            background-image: url("../img/imgb3.jpg");
            background-repeat: no-repeat;
            background-position: center;
            
            }
            &--reloj:hover{
            transform: scale(1.2,1.2);
            }
    }
}


