//-----------------------------TELEFONO------------------------------------------------------------------------------
@media(max-width:$tab){
    .tienda{
        padding-top: 3rem;
        font-family:$texto; 
        text-align: center;
        font-size: 1.2rem;
        background-color: $medio;
        min-width: 320px;
        &--boton{
            background-color: $oscuro;
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: 0.2rem;
            margin: 10px;
        }
        a{
            text-decoration: none;
            color: $blanco;
        }
        div{
            background-image: linear-gradient($medio,red, $medio);
            color: $blanco;
            width: 100%;
        }
        ul{
            margin: 0.5rem;
            padding: 0;
            li{
                list-style: none;
                color: $blanco;
                padding: 0.5rem;
                div{
                    background-color: white;
                    background-image: none;
                    display: flex;
                    flex-direction: column;
                    border-radius: 1rem;
                    font-size: 1rem;
                    align-items: center;
                    height: 33rem;
                    padding: 1rem;
                    justify-content: space-between;
                    ul{
                        display: flex;
                        flex-direction: column;
                        background-color: $blanco;
                        li{
                            color: $negro;
                            list-style: circle;
                            font-size: 0.8rem;
                        }
                    }
                    img{
                        padding: 0.5rem;
                    }
                }
            }
        }
    }
}
//-----------------------------TABLET Y LAPTOP------------------------------------------------------------------------------
@media(min-width:$tab){
.tienda{
    padding-top: 3rem;
    font-family:$texto; 
    text-align: center;
    font-size: 3.5rem;
    background-color: $medio;
    a{
        text-decoration: none;
        color: $blanco;
    }
    &--boton{
        background-color: $negro;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.2rem;
        margin: 10px;
    }
    div{
        background-image: linear-gradient($medio,red, $medio);
        height: 20rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1rem;
        color: $blanco;
        min-width: 500px;
    }
    ul{
        margin-right: 1rem;
        padding-left: 1rem;
        li{ 
            background-color: $medio ;
            color: $blanco;
            font-size: 2rem;
            text-align: center;
            list-style: none;
            padding: 0;
            div{
                background-color: $blanco;
                background-image: none;
                border-radius: 0.5rem;
                margin-left: 1rem;
                img{
                    margin:0.3rem;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                margin: 0;
                padding-left: 1rem;
                padding-right: 1rem;
                li{
                    font-size: 1rem;
                    color: $negro;
                    background-color: $blanco;
                    list-style: circle;
                    text-align: left;
                    
                }
            }
        }
    }
}
}