
/* Variables */
$claro:#a0a1a1;
$oscuro:#171717 ;
$medio:#202124;
$negro:black;
$blanco:white;

$texto:'Orbitron', sans-serif;

$grid-breakpoint:(xs:360px,xl:1200,md:576px,);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:$medio;
    
}

@import "menu";
@import "principal";
@import "consulta";
@import "tienda";
@import "carrito";
@import "footer";
