
/* Variables */
$claro:#a0a1a1;
$oscuro:#171717 ;
$medio:#202124;
$negro:black;
$blanco:white;

$texto:'Orbitron', sans-serif;
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
$ta:640px;
body{
    background-color:$medio;
    min-width: $ta/2; //---Realizo la operacion para cumplir con un desafio que tenia incompleto
}
.boton{
    background-color: $oscuro;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 10px;
    text-decoration: none;
    color: $blanco;
}
.boton:hover{
    color: $blanco;
}
$cel:0;
$tab:576px;
$lap:768px;

@import "menu";
@import "principal";
@import "consulta";
@import "tienda";
@import "nosotros";
@import "carrito";
@import "footer";