
/* Variables */
$claro:#a0a1a1;
$oscuro:#171717 ;
$medio:#202124;
$negro:black;
$blanco:white;

$texto:'Orbitron', sans-serif;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:$medio;
    
}
$cel:0;
$tab:576px;
$lap:768px;

@import "menu";
@import "principal";
@import "consulta";
@import "tienda";
@import "carrito";
@import "footer";
