/* Variables */
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #202124;
}

/* -------------------------------------------BARRA DE NAVEGACION-------------------------------------------------- */
header {
  font-family: "Orbitron", sans-serif;
}

@media (max-width: 576px) {
  .nav__barra {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
  }
  .nav__barra div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: red;
    width: 2.1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom-right-radius: 1.5rem;
  }
  .nav__barra div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    font-size: 0.8rem;
    height: 100%;
  }
  .nav__barra div ul li {
    list-style: none;
    margin-top: 1rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .nav__barra div ul li a {
    text-decoration: none;
    color: white;
  }
  .nav__barra div ul li a i {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    margin-bottom: 1rem;
  }
  .nav__barra div h1 {
    font-size: 0;
    margin: 0;
  }
  .nav__barra div h1 img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media (min-width: 576px) {
  header {
    width: 100%;
  }
  .nav__barra {
    position: fixed;
    z-index: 9999;
    width: 100%;
  }
  .nav__barra div {
    background-color: red;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    height: 3rem;
  }
  .nav__barra h1 {
    font-size: 0;
  }
  .nav__barra h1 a {
    padding: 1rem;
  }
  .nav__barra img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .nav__barra ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  .nav__barra li {
    margin: left 1rem;
    font-size: 0.8rem;
    padding-left: 3rem;
  }
  .nav__barra li i {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav__barra a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }
  .nav__barra a:hover {
    -webkit-box-shadow: 0 0 20px black;
            box-shadow: 0 0 20px black;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .nav__barra--boton {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (min-width: 768px) {
  .nav__barra {
    position: fixed;
    z-index: 9999;
  }
  .nav__barra div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 4rem;
    font-family: "Orbitron", sans-serif;
  }
  .nav__barra ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: red;
    font-family: "Orbitron", sans-serif;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  .nav__barra h1 {
    font-size: 1.2rem;
    padding-right: 1rem;
  }
  .nav__barra h1 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .nav__barra h1 img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .nav__barra li {
    list-style: none;
  }
  .nav__barra li i {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav__barra a {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }
  .nav__barra a:hover {
    -webkit-box-shadow: 0 0 20px black;
            box-shadow: 0 0 20px black;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .nav__barra--boton {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (min-width: 0) {
  .main__novedad {
    font-family: "Orbitron", sans-serif;
    background-color: white;
    height: 425px;
    min-width: 320px;
  }
  .main__novedad div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__novedad div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__novedad div p {
    color: black;
    font-size: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }
  .main__novedad img {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    padding: 0px;
  }
  .main__novedad button a {
    text-decoration: none;
    color: white;
  }
  .main__novedad p {
    padding-top: 3rem;
    font-size: 2rem;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .productos {
    color: white;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-bottom-width: 10px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: white;
    padding-bottom: 15rem;
    width: 100%;
    min-width: 320px;
  }
  .productos h2 {
    padding: 3rem;
    font-size: 2rem;
  }
  .productos ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .productos li {
    height: 200px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .productos a {
    text-decoration: none;
    color: white;
    font-style: italic;
    background-color: black;
    text-align: center;
  }
  .productos--telefono {
    background-image: url("../img/imgb2.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--telefono:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .productos--tv {
    background-image: url("../img/imgb4.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--tv:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .productos--laptop {
    background-image: url("../img/imgb1.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--laptop:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .productos--reloj {
    background-image: url("../img/imgb3.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--reloj:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: white;
    font-family: "Orbitron", sans-serif;
    text-align: end;
    min-width: 320px;
    background-color: #a0a1a1;
  }
  .nosotros h2 {
    margin: 1rem;
  }
  .nosotros button {
    background-color: black;
  }
  .nosotros button a {
    text-decoration: none;
    color: white;
  }
  .nosotros div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 1rem;
  }
  .nosotros div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nosotros div div img {
    border-radius: 0.5rem;
    border-width: 10px;
    border: solid;
  }
  .nosotros div div div {
    width: 15rem;
    padding: 0;
  }
  .nosotros div div iframe {
    height: 9rem;
    width: 16rem;
    border-radius: 0.3rem;
  }
}

@media (min-width: 576px) {
  .main__novedad div p {
    color: black;
    font-size: 2rem;
    padding-top: 3rem;
    padding-right: 1rem;
  }
  .main__novedad div div p {
    color: black;
    font-size: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    text-align: center;
  }
  .nosotros div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
  .nosotros div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros div div img {
    border-radius: 0.5rem;
    border-width: 10px;
    border: solid;
  }
  .nosotros div div div {
    width: 25rem;
    padding: 0;
  }
  .nosotros div div iframe {
    height: 13.5rem;
    width: 24rem;
    border-radius: 0.3rem;
  }
}

@media (min-width: 768px) {
  .main__novedad {
    background-color: white;
    width: 100%;
    height: 425px;
  }
  .main__novedad div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__novedad div div p {
    color: black;
    font-size: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
  }
  .main__novedad div img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .main__novedad div button {
    text-align: right;
  }
  .main__novedad div p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .main__novedad div a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #212529;
    font-size: medium;
  }
  /* -------------------------------------------productos--------------------------------------------------------------- */
  .productos {
    color: white;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-bottom-width: 10px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-color: white;
    padding-bottom: 15rem;
    width: 100%;
  }
  .productos h2 {
    padding: 150px;
    font-size: 3rem;
  }
  .productos ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .productos li {
    height: 180px;
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .productos a {
    text-decoration: none;
    color: white;
    font-style: italic;
    background-color: black;
    text-align: center;
  }
  .productos--telefono {
    background-image: url("../img/imgb2.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--telefono:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .productos--tv {
    background-image: url("../img/imgb4.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--tv:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .productos--laptop {
    background-image: url("../img/imgb1.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--laptop:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .productos--reloj {
    background-image: url("../img/imgb3.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .productos--reloj:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    text-align: center;
    background-color: #a0a1a1;
  }
  .nosotros div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
  .nosotros div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros div div img {
    border-radius: 0.5rem;
    border-width: 10px;
    border: solid;
  }
  .nosotros div div div {
    width: 35rem;
    padding: 0;
  }
  .nosotros div div iframe {
    height: 19.8rem;
    width: 35.2rem;
    border-radius: 0.3rem;
  }
}

/*----------------------------------------------------------------- CONSULTA------------------------------------------------- */
@media (max-width: 576px) {
  .pregunta__titulo {
    background-color: white;
    font-family: "Orbitron", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    text-align: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-width: 320px;
    padding-top: 1rem;
    padding-left: 2.2rem;
  }
  .pregunta__frecuentes {
    background-color: black;
    color: white;
    font-family: "Orbitron", sans-serif;
    min-width: 320px;
  }
  .pregunta__frecuentes ul {
    list-style: none;
    background-color: #202124;
  }
  .pregunta__frecuentes ul button {
    background-color: #171717;
    color: white;
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .pregunta__frecuentes ul button:not(.collapsed) {
    background-color: #171717;
    color: red;
  }
  .pregunta__frecuentes ul button:not(.collapsed):after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f4f4f'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
  }
  .pregunta__frecuentes ul button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .pregunta__frecuentes ul div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #a0a1a1;
    font-size: 1rem;
    text-align: end;
    padding-left: 2rem;
  }
  .consulta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    width: 100%;
    background-color: white;
    font-family: "Orbitron", sans-serif;
    padding: 20px 0.5rem 20px;
    min-width: 320px;
  }
  .form-check-input:checked {
    background-color: red;
    border-color: red;
  }
  .consulta__form {
    background-color: #a0a1a1;
    width: 100%;
    min-width: 320px;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
  }
  .consulta__form--nombre {
    background-color: black;
    padding-right: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .consulta__form--nombre div {
    margin-left: 3rem;
    margin-right: 0.5rem;
  }
  .consulta__form--nombre div input {
    margin-top: 1rem;
  }
  .consulta__form--consulta {
    background-color: black;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 1rem;
    color: white;
    font-family: "Orbitron", sans-serif;
    margin-top: 1rem;
  }
  .consulta__form--consulta div {
    margin-left: 3rem;
    margin-right: 0.5rem;
  }
  .consulta__form--consulta div input {
    margin-top: 1rem;
  }
  .consulta__form--boton {
    background-color: black;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 1rem;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .consulta__form--boton div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .consulta__form--boton div input {
    margin: 0.2rem;
  }
  .consulta__form--boton div button {
    margin: 0.2rem;
  }
}

@media (min-width: 576px) {
  .consulta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    width: 100%;
    background-color: white;
    font-family: "Orbitron", sans-serif;
    padding: 20px 0.5rem 20px;
    min-width: 576px;
  }
  .form-check-input:checked {
    background-color: red;
    border-color: red;
  }
  .consulta__form {
    background-color: #202124;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consulta__form--nombre {
    background-color: black;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-right: 1rem;
    margin-top: 1rem;
  }
  .consulta__form--nombre div {
    padding: 1px 0 1rem 1rem;
  }
  .consulta__form--nombre div input {
    margin-top: 1rem;
    width: 100%;
  }
  .consulta__form--consulta {
    background-color: black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-right: 1rem;
    color: white;
    font-family: "Orbitron", sans-serif;
  }
  .consulta__form--consulta div {
    padding: 1px 0 1rem 1rem;
  }
  .consulta__form--consulta div input {
    margin-top: 1rem;
    width: 100%;
  }
  .consulta__form--boton {
    background-color: black;
    border-radius: 0.5rem;
    padding-right: 1rem;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .consulta__form--boton div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .consulta__form--boton div input {
    margin: 0.2rem 0.2rem 0.2rem 1rem;
  }
  .consulta__form--boton div button {
    margin: 0.2rem 0.2rem 0.2rem 1rem;
  }
  .pregunta__titulo {
    background-color: white;
    font-family: "Orbitron", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 2rem;
    text-align: end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-width: 320px;
    padding-top: 4rem;
  }
  .pregunta__frecuentes {
    background-color: #171717;
    color: white;
    font-family: "Orbitron", sans-serif;
    min-width: 320px;
  }
  .pregunta__frecuentes ul {
    padding: 5rem;
    list-style: none;
    background-color: #202124;
  }
  .pregunta__frecuentes ul button {
    background-color: #171717;
    color: white;
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .pregunta__frecuentes ul button:not(.collapsed) {
    background-color: #171717;
    color: red;
  }
  .pregunta__frecuentes ul button:not(.collapsed):after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f4f4f'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
  }
  .pregunta__frecuentes ul button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .pregunta__frecuentes ul div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #a0a1a1;
    font-size: 1rem;
    text-align: end;
    padding-left: 2rem;
  }
}

/* -----------------------------------------------------------------TIENDA ----------------------------------------------------*/
@media (max-width: 576px) {
  .tienda {
    padding-top: 3rem;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 1.2rem;
    background-color: #202124;
    min-width: 320px;
  }
  .tienda a {
    text-decoration: none;
    color: white;
  }
  .tienda div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#202124), color-stop(red), to(#202124));
    background-image: linear-gradient(#202124, red, #202124);
    color: white;
    width: 100%;
  }
  .tienda ul {
    margin: 1rem;
    padding: 0;
  }
  .tienda ul li {
    list-style: none;
    color: white;
    padding: 0.5rem;
  }
  .tienda ul li div {
    background-color: white;
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 1rem;
    font-size: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 33rem;
    padding: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tienda ul li div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .tienda ul li div ul li {
    color: black;
    list-style: circle;
    font-size: 0.8rem;
  }
  .tienda ul li div img {
    padding: 0.5rem;
  }
}

@media (min-width: 576px) {
  .tienda {
    padding-top: 3rem;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    font-size: 3.5rem;
    background-color: #202124;
  }
  .tienda a {
    text-decoration: none;
    color: white;
  }
  .tienda div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#202124), color-stop(red), to(#202124));
    background-image: linear-gradient(#202124, red, #202124);
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
    color: white;
    min-width: 500px;
  }
  .tienda ul {
    margin-right: 1rem;
    padding-left: 1rem;
  }
  .tienda ul li {
    background-color: #202124;
    color: white;
    font-size: 2rem;
    text-align: center;
    list-style: none;
    padding: 0;
  }
  .tienda ul li div {
    background-color: white;
    background-image: none;
    border-radius: 1rem;
    margin-left: 1rem;
  }
  .tienda ul li div img {
    margin: 0.3rem;
  }
  .tienda ul li div button {
    margin-right: 1rem;
  }
  .tienda ul li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .tienda ul li ul li {
    font-size: 1rem;
    color: black;
    background-color: white;
    list-style: circle;
    text-align: left;
  }
}

/*--------------------------------------------------------- CARRITO --------------------------------------------------------------*/
.carrito {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Orbitron", sans-serif;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  background-color: #171717;
  min-width: 1280px;
}

.carrito ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a0a1a1;
  padding-right: 32px;
  padding-bottom: 32px;
  border-radius: 2rem;
}

.carrito li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-top: 2rem;
  font-size: 1rem;
}

.carrito input {
  margin: 1rem;
  width: 10rem;
  font-size: .8rem;
}

.carrito div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem;
}

@media (max-width: 768px) {
  /* --------------------------------------------------------------------FOOTER---------------------------------------------------- */
  .footer__barra {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-family: "Orbitron", sans-serif;
    padding: 0.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    min-width: 320px;
  }
  .footer__barra li {
    list-style: none;
    margin: 1rem;
  }
  .footer__barra a {
    text-decoration: none;
    color: white;
  }
  .footer__barra__tienda {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__barra__carrito {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__barra__ofertas {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__barra__contacto {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .footer__barra__insta {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .footer__barra__face {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .footer__barra__twitter {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .footer__barra__novedades {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (min-width: 768px) {
  .footer__barra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    height: 4rem;
    color: white;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Orbitron", sans-serif;
    padding: 0.5rem;
    line-height: 1.5rem;
  }
  .footer__barra li {
    list-style: none;
  }
  .footer__barra a {
    text-decoration: none;
    color: white;
  }
  .footer__barra__tienda {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__barra__carrito {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__barra__ofertas {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__barra__contacto {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .footer__barra__insta {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .footer__barra__face {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .footer__barra__twitter {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .footer__barra__novedades {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
/*# sourceMappingURL=estilo.css.map */